@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain("filmweb.pl") {
  
  /* Body */
  .bodyWrapper {
    border: 1px solid !important;
    border-radius: 10px !important;
    background: #cccccc !important;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.7);
  }
  
  /*
   * FORUM
   */
  .post {
    border: 1px solid !important;
    background: #fff !important;
    border-radius: 5px !important;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.7);
  }
  
  .post.firstPost {
    padding-top: 0px !important;
    margin-top: 10px !important;
    background: #ffeec6 !important;
  }
  
  .post .userInfo {
    background: #aaa !important;
    border-radius: 5px 0px 0px 5px !important;
  }
  
  .post .postContentAndInfo {
    border-bottom: none !important;
    padding-bottom: 5px !important;
  }
  
  .post .postInfo {
    background: #a61010 !important;
    top: 0px !important;
    border-radius: 0px 4px 0px 0px !important;
  }
  
  .topicPostItem {
    padding: 7px 0px 0px !important;
  }
  
  /* Avatar przy postach */
  .pho-47 {
    border-radius: 4px !important;
  }
}
