@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain("filmweb.pl") {
  
  /* Body */
  .bodyWrapper {
    border-top: 1px solid #F0F0F0 !important;
    border-left: 1px solid #F0F0F0 !important;
    border-right: 1px solid #666 !important;
    border-bottom: 1px solid #666 !important;
    border-radius: 3px 3px 0 0 !important;
    background: #cccccc !important;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    padding: 10px !important;
  }
  
  /*
   * FORUM
   */
  .post {
    border: 1px solid !important;
    background: #fff !important;
    border-radius: 0px 2px 2px 2px !important;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.7);
  }
  
  .post.firstPost {
    padding-top: 0px !important;
    margin: 0 auto !important;
    margin-top: 10px !important;
    background: #ffeec6 !important;
    width: auto !important;
  }
  
  .post .userInfo {
    padding: 0px !important;
    width: 0px !important; 
    display: block !important;
  }
  
  /* Header posta */
  .post .postInfo {
    /*background: #a61010 !important;*/
    background: linear-gradient(to bottom, #9a0000, #6d0000) !important;
    top: 0px !important;
    border-radius: 0px 1px 0px 0px !important;
    padding: 1px 4px !important;
  }
  
  .post .postInfo * {
    color: #dedede !important;
    font-size: 11px !important;
  }
  
  .post .postInfo .userName {
    font-weight: bold !important;
    font-size: 12px !important;
    color: #fff !important;
  }
  
  /* Nick użytkownika na którego post się odpowiedziało */
  .post .postInfo a.cap {
    font-weight: bold !important;
    font-style: italic;
  }
  
  /* Gwiazda w 'ocenił ten serial na' */
  .post .postInfo i.fonti-star {
    color: #edbe00 !important;
  }
  
  .post .postContentAndInfo {
    border-bottom: none !important;
    padding-bottom: 0px !important;
  }
  
  .post .postText {
    margin: 4px !important;
    font-size: 13px !important;
  }
  
  .topicPostItem {
    padding: 7px 0px 0px !important;
  }
  
  /* Avatar przy postach */
  .post .pho-47 {
    border-radius: 3px 0 0 3px !important;
    border-left: 1px solid !important;
    border-top: 1px solid !important;
    border-bottom: 1px solid !important;
    position: relative !important;
    right: 48px !important;
    margin-top: -16px !important;
  }
  
  /* Przycisk 'Odpowiedz' */
  .post button.reply {
    border-top: 1px solid !important;
    border-right: 1px solid !important;
    border-radius: 0 3px 0 0 !important;
    border-color: #000 !important;
    color: #bbb !important;
    font-size: 10px;
    font-style: italic;
    font-weight: bold;
    background: linear-gradient(to bottom, #9a0000, #6d0000) !important;
    padding-left: 3px !important;
    padding-right: 3px !important;
  }
  
  /******************/
  /*   Mój kokpit   */
  /******************/
  
  .activity {
    border-top: 4px solid rgb(154, 0, 0) !important;
    background: none repeat scroll 0% 0% rgb(255, 255, 255) !important;
    border-radius: 3px !important;
    border-bottom: 4px solid rgb(154, 0, 0) !important;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7) !important;
    padding: 5px !important;
    margin: 0px 0px 15px !important;
  }
  
  .activity .sticker {
    background: #FFFAE1;
    border-radius: 3px;
  }
  
  .activity .top-5 {
    margin-top: 0px !important;
  }
  
  .activity .rolePhoto img {
    height: 250px !important;
  }
  
  /* Mój asystent */
  /*.sidebar {
    margin-left: 40px !important;
    width: 320px !important;
  }*/
  
  .dashboardAssistantFilters {
    margin: 0px !important;
    margin-bottom: -1px !important;
  }
  
  .dashboardAssistantFilters .link-btn {
    background: linear-gradient(to bottom, #9a0000, #6d0000) !important;
    border-right: 1px solid #000 !important;
    border-top: 1px solid #000 !important;
    border-bottom: none !important;
    margin: 0px !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
    font-size: 11pt !important;
    line-height: 17pt !important;
    color: #dedede !important;
  }
  
  .dashboardAssistantFilters .link-btn:first-child {
    border-radius: 3px 0px 0px 0px !important;
    border-left: 1px solid #000 !important;
  }
  
  .dashboardAssistantFilters .link-btn:last-child {
    border-radius: 0px 3px 0px 0px !important;
  }
  
  .dashboardAssistantFilters .link-btn.on {
    color: #F39A00 !important;
    font-weight: bold !important;
    background: linear-gradient(to bottom, #c30000, #8e0000) !important;
  }
  
  .dashboardAssistantFilters .link-btn:hover {
    background: linear-gradient(to bottom, #c30000, #8e0000) !important;
  }
  
  .dashboardAssistant {
    border: 1px solid !important;
    border-radius: 0px 3px 3px 3px !important;
  }
  
  .dashboardAssistant .unreaded {
    margin: 0px !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
    border-bottom: 1px solid #888 !important;
  }
  
  .dashboardAssistant .unreaded .element {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
  }
  
  .dashboardAssistant .unreaded:first-child {
    border-radius: 0px 3px 0px 0px !important
  }
  
  .dashboardAssistant .unreaded:last-child {
    border-radius: 0px 0px 3px 3px !important;
    border-bottom: none !important;
  }
  
}
